.c-11 .portfolio-box-main {
  border-radius: 23px;
  background: rgb(17, 37, 66);
  width: 100%;
  margin: 20px 0px;
}
.c-11 .portfolio-box-story {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  border-radius: 20px;
}
.c-11 .portfolio-box-story:hover {
  transform: perspective(10px);
}
.c-11 .portfolio-box-img {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.c-11 .portfolio-box-img img {
  width: 100%;
  height: auto;
}
.c-11 .portfolio-box-video {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.c-11 .portfolio-box-detail-stories {
  width: 100%;
  padding: 0px 25px;
}
.c-11 .portfolio-box-detail-title {
  font-weight: 600;
}
.c-11 .portfolio-box-detail-stories-desc {
  font-size: 12px;
  margin: 10px 0px;
  line-height: 25px;
}

@media (max-width: 600px) {
  .z-13 {
    font-size: 1.5rem;
    text-shadow: rgb(239, 237, 227) -1px -1px 1px, rgb(1, 19, 46) 0px 1px 0px,
      rgb(1, 19, 46) 0px 2px 0px, rgb(1, 19, 46) 0px 3px 0px,
      rgb(77, 89, 108) 0px 4px 0px, rgba(0, 0, 0, 0.9) 0px 0px 0px,
      rgba(0, 0, 0, 0.3) 0px 0px 0px, rgba(0, 0, 0, 0.5) 0px 0px 0px,
      rgba(0, 0, 0, 0.9) 0px 0px 0px;
    line-height: unset;
  }
}
@media (max-width: 767px) {
  .c-11 .portfolio-box-main {
    margin: 20px 0px;
  }
  .c-11 .portfolio-box-img {
    width: 90%;
    margin: 20px auto;
  }
  .c-11 .portfolio-box-img img {
    width: 100%;
  }
  h3 {
    font-size: 18px;
  }
}
