* {
  box-sizing: border-box;
  margin: 0px;
}
body,
html {
  background: rgb(1, 19, 46);
  color: rgb(255, 255, 255);
  font-family: Poppins, sans-serif;
  font-style: normal;
}

.f-1 {
  padding: 2rem 0px;
}
.f-1 .footerUl {
  padding: 0px;
  list-style: none;
}
.f-2 {
  border-top: 1px solid;
  padding-top: 28px;
}
.f-2 .footerLogo {
  height: 88px;
}
.f-2 .copyrightsSocials {
  gap: 20px;
  -webkit-box-pack: end;
  justify-content: end;
}
@media (max-width: 600px) {
  .f-1 {
    padding: 1rem 0px;
  }
  .f-2 .copyrights {
    flex-direction: column-reverse;
  }
  .f-2 .copyrightsSocials {
    width: 100%;
    gap: 30px;
    margin-bottom: 1rem;
    -webkit-box-pack: center;
    justify-content: center;
  }
}
